<div class="container admin">
  <h3 class="">Workshop: <%= @workshop.title %></h3>
  <p class="">Speaker: <%= @workshop.speaker.full_name %></p>
  <% if @workshop.location != nil %>
    <p class="">Salón: <%= @workshop.location.name %></p>
  <% else %>
    <p class="">Salón: -</p>
  <% end %>
  <p class="">Horario: <%= @workshop.day.name %>, <%= @workshop.time %></p>
  <p><strong>Usuarios Registrados:  <%= @workshop.users.count %></strong></p>

  <h4 class="center">Registros</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Email</td>
        <td>Folio boleto</td>
        <td>Boleto Banamex</td>
        <td>Cliente Banamex</td>
      </tr>
    </thead>

    <tbody>
      <% n = 1 %>
      <% @workshop.users.each do |user| %>
        <tr>
          <td><%= n %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.folio %></td>
          <% if user.banamex? %>
            <td>Sí</td>
          <% else %>
            <td>No</td>
          <% end %>
          <% if user.cliente_banamex %>
            <td>Sí</td>
          <% else %>
            <td>No</td>
          <% end %>
        </tr>
        <% n = n + 1 %>
      <% end %>
    </tbody>
  </table>

  <hr>

  <h4 class="center">Lista de Espera</h4>
  <p class="center"><strong>Número de usuarios: <%= @workshop.user_lists.count %></strong></p>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Email</td>
        <td>Folio boleto</td>
        <td>Boleto Banamex</td>
        <td>Cliente Banamex</td>
      </tr>
    </thead>

    <tbody>
      <% n = 1 %>
      <% @workshop.user_lists.each do |user| %>
        <tr>
          <td><%= n %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.folio %></td>
          <% if user.banamex? %>
            <td>Sí</td>
          <% else %>
            <td>No</td>
          <% end %>
          <% if user.cliente_banamex %>
            <td>Sí</td>
          <% else %>
            <td>No</td>
          <% end %>
        </tr>
        <% n = n + 1 %>
      <% end %>
    </tbody>
  </table>
</div>