<!-- Cover -->
<section id="cover-2014">
  <div class="cover-images">
    <%= image_tag "logo-2014.png", class: "img-responsive center" %>
  </div>
</section>
<!-- /Cover -->

<!-- Expertas -->
<section id="expertas-2014">
  <div class="titulo">
    <div class="container">
      <h1 class="center">NUESTRAS EXPERTAS 2014</h1>
    </div>
  </div>

  <div class="container">

    <div class="row ponentes-2014">

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-1.png", class: "img-responsive center" %>
        <h3>CHRISTINA PINEDA</h3>
      </div>

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-2.png", class: "img-responsive center" %>
        <h3>EUGENIA DEBAYLE</h3>
      </div>

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-3.png", class: "img-responsive center" %>
        <h3>JOHANNA MURILLO</h3>
      </div>

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-4.png", class: "img-responsive center" %>
        <h3>BRENDA DÍAZ DE LA VEGA</h3>
      </div>

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-5.png", class: "img-responsive center" %>
        <h3>KARINA VELASCO</h3>
      </div>

      <div class="col-sm-4 col-xs-6 ponente-2014">
        <%= image_tag "2014-6.png", class: "img-responsive center" %>
        <h3>LINDA KOSLOWSKI</h3>
      </div>

    </div>

    <div class="row lista">
      <h3>FRIDA ESCOBEDO · NATALIA BERISTAIN · ANDREA HEGEWISCH · YAEL MAQUIEIRA · ABASEH MIRVALI · JOHANA LOVERA · LILIAN CATALÁN ·JOSÉ VALENZUELA · OLGA SÁNCHEZ · MARIA POO · WENDY CRESPI · MARIANA CAMARGO FERNÁNDEZ · DEBY BEARD · MARIEL HAWLEY DÁVILA · GUADALUPE TRUEBA · ANA PAULA DOMÍNGUEZ · CARLA FERNÁNDEZ · EDELMIRA CÁRDENAS · GABRIELA TAVERA · STEPHANIE AROUESTY · ALEJANDRA GARZA · ALEXANDRA DRIJANSKI · CECILIA LEYVA ·   KARLA RIVEROLL · LOURDES BOTELLO · DIANA TENA · TERE DE LA TORRE & ERICK FREGOSO · MARIA JOSÉ JUÁREZ · MARCELA CABRERA</h3>
    </div>

  </div>
</section>
<!-- /Expertas -->