
<div id="agenda" class="container">

  <div class="row event-nav">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#events" role="tab" data-toggle="tab">Conferencias</a></li>
        <li role="presentation"><a href="#workshops" role="tab" data-toggle="tab">Workshops</a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content">

    <div id="events" role="tabpanel" class="tab-pane active">

      <div class="row day-nav">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#day1" role="tab" data-toggle="tab">Viernes 6</a></li>
            <li role="presentation"><a href="#day2" role="tab" data-toggle="tab">Sábado 7</a></li>
            <li role="presentation"><a href="#day3" role="tab" data-toggle="tab">Domingo 8</a></li>
          </ul>
        </div>
      </div>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="day1">
        <% Day.find(1).events.order('slot ASC').each do |event| %>
          <% @event = event %>
          <%= render 'shared/event_info' %>
        <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="day2">
        <% Day.find(2).events.order('slot ASC').each do |event| %>
          <% @event = event %>
          <%= render 'shared/event_info' %>
        <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="day3">
        <% Day.find(3).events.order('slot ASC').each do |event| %>
          <% @event = event %>
          <%= render 'shared/event_info' %>
        <% end %>
        </div>

      </div>

    </div>

    <div id="workshops" role="tabpanel" class="tab-pane">

      <div class="row day-nav">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#day1w" role="tab" data-toggle="tab">Viernes 6</a></li>
            <li role="presentation"><a href="#day2w" role="tab" data-toggle="tab">Sábado 7</a></li>
            <li role="presentation"><a href="#day3w" role="tab" data-toggle="tab">Domingo 8</a></li>
          </ul>
        </div>
      </div>

      <div id="workshop-calendar" class="tab-content">

        <% if user_signed_in? %>
        <div class="row legend">
          <%= render 'shared/event_count' %>
        </div>
        <% end %>

        <div class="row titles">
          <div class="col-xs-3">
            <p class="center">FITNESS by</p>
            <%= image_tag "sponsors/adidas.png", class: "img-responsive center adidas" %>
          </div>
          <div class="col-xs-3">
            <p class="center">COOKING</p>
          </div>
          <div class="col-xs-3">
            <p class="center">WELLNESS</p>
          </div>
          <div class="col-xs-3">
            <p class="center">SELF-AWERNESS</p>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="day1w">

          <div class="col-xs-3 column">
            <% Day.find(1).workshops.where(category_id: 3).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(1).workshops.where(category_id: 2).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(1).workshops.where(category_id: 4).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(1).workshops.where(category_id: 6).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="day2w">

          <div class="col-xs-3 column">
            <% Day.find(2).workshops.where(category_id: 3).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(2).workshops.where(category_id: 2).order('slot ASC').each do |workshop| %>
              <% if workshop.slot == 3 || workshop.slot == 7 %>
                <div class="info">
                  <div class="content l-<%= workshop.length %> block">
                  </div>
                </div>
              <% else %>
                <% @workshop = workshop %>
                <%= render 'shared/workshop_info' %>
              <% end %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(2).workshops.where(category_id: 4).order('slot ASC').each do |workshop| %>
              <% if workshop.slot == 4 %>
                <div class="info">
                  <div class="content l-<%= workshop.length %> block">
                  </div>
                </div>
              <% else %>
                <% @workshop = workshop %>
                <%= render 'shared/workshop_info' %>
              <% end %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(2).workshops.where(category_id: 6).order('slot ASC').each do |workshop| %>
              <% if workshop.slot == 5 || workshop.slot == 12 %>
                <div class="info">
                  <div class="content l-<%= workshop.length %> block">
                  </div>
                </div>
              <% else %>
                <% @workshop = workshop %>
                <%= render 'shared/workshop_info' %>
              <% end %>
            <% end %>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="day3w">

          <div class="col-xs-3 column">
            <% Day.find(3).workshops.where(category_id: 3).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(3).workshops.where(category_id: 2).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(3).workshops.where(category_id: 4).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

          <div class="col-xs-3 column">
            <% Day.find(3).workshops.where(category_id: 6).order('slot ASC').each do |workshop| %>
              <% @workshop = workshop %>
              <%= render 'shared/workshop_info' %>
            <% end %>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
