
<!-- Cover -->
<section id="cover">
  <div class="cover-images">
    <%= image_tag "intro.png", class: "img-responsive center" %>
  </div>
</section>
<!-- /Cover -->

<!-- Qué es -->
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 class="center">¿Qué es?</h1>
        <p>Women’s Weekend es un fin de semana de experiencias, contenidos y showrooms de productos y servicios para la mujer actual. Somos mamás, empresarias, profesionistas, estudiantes, artistas, escritoras y deportistas juntas en un solo lugar. Una vez al año, sólo para nosotras.</p>
      </div>
    </div>
  </div>
</section>
<!-- Qué es -->

<!-- Mapa -->
<section id="mapa">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-sm-6 cuando">
        <h1 class="center">¿Cuándo y Dónde?</h1>
        <p class="center">6, 7 y 8 DE MARZO DE 2015</p>
        <p class="center">THE ST. REGIS MEXICO CITY</p>
      </div>
      <div class="col-sm-6 mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15050.766085889663!2d-99.172428!3d19.42573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7179355336f6a97!2sThe+St.+Regis+Mexico+City!5e0!3m2!1sen!2smx!4v1424128828864" width="100%" height="400" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- /Mapa -->

<!-- Ponentes -->
<section id="intro-ponentes">
  <div class="container home">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="">EXPERTAS <span>2015</span></h1>
      </div>
    </div>
  </div>
</section>

<section id="ponentes">
  <div class="container-fluid">
    <div class="row-fluid">

      <% @speaker = Speaker.find(1) %>
      <div class="col-md-4 col-sm-6 ponente" style="background-image:url(<%= attachment_url(@speaker, :profile_image) %>)">
        <div class="overlay">
          <div class="ponente-info">
            <h3 class="center"><%= @speaker.full_name %></h3>
            <p class="center"><%= @speaker.description %></p>
          </div>
        </div>
      </div>

      <% @speaker = Speaker.find(2) %>
      <div class="col-md-4 col-sm-6 ponente" style="background-image:url(<%= attachment_url(@speaker, :profile_image) %>)">
        <div class="overlay">
          <div class="ponente-info">
            <h3 class="center"><%= @speaker.full_name %></h3>
            <p class="center"><%= @speaker.description %></p>
          </div>
        </div>
      </div>

      <% @speaker = Speaker.find(3) %>
      <div class="col-md-4 col-sm-6 ponente" style="background-image:url(<%= attachment_url(@speaker, :profile_image) %>)">
        <div class="overlay">
          <div class="ponente-info">
            <h3 class="center"><%= @speaker.full_name %></h3>
            <p class="center"><%= @speaker.description %></p>
          </div>
        </div>
      </div>

      <% @speaker = Speaker.find(5) %>
      <div class="col-md-4 col-sm-6 ponente" style="background-image:url(<%= attachment_url(@speaker, :profile_image) %>)">
        <div class="overlay">
          <div class="ponente-info">
            <h3 class="center"><%= @speaker.full_name %></h3>
            <p class="center"><%= @speaker.description %></p>
          </div>
        </div>
      </div>

      <% @speaker = Speaker.find(15) %>
      <div class="col-md-4 col-sm-6 ponente" style="background-image:url(<%= attachment_url(@speaker, :profile_image) %>)">
        <div class="overlay">
          <div class="ponente-info">
            <h3 class="center"><%= @speaker.full_name %></h3>
            <p class="center"><%= @speaker.description %></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 ponente-mas">
        <div class="link">
          <h3 class="center"><%= link_to "Más >>", ponentes_path %></h3>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /Ponentes -->

<!-- Showrooms -->
<section id="showrooms-home">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Showrooms</h1>
        <p>Son espacios dentro de las suites del hotel The St. Regis Mexico City, las cuales serán convertidas en showrooms de productos y servicios increíbles. Inspirados y dedicados a las mujeres actuales como mamás, empresarias, profesionistas, estudiantes, artistas, escritoras y deportistas.</p>

        <p>Las asistentes a Women´s Weekend podrán visitar y comprar en estos Showrooms de diversas marcas, especializadas en salud, belleza , moda y diseño entre otros, permitiendo experiencias privadas y exclusivas.</p>

        <%= link_to "Ver más", showrooms_path, class: "center" %>
      </div>
      <div class="col-md-6 col-md-offset-1 col-sm-12">
        <div id="showroom-carousel" class="row owl-carousel">

          <div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-01.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-02.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-03.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-04.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-05.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-06.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-07.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-08.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-09.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-10.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-11.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
            </div>
          </div>

          <div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-14.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-15.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-16.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-17.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-18.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-19.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-20.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-21.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-22.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-23.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-24.png", class: "img-responsive center" %>
            </div>
          </div>

          <div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-25.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-26.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-27.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-28.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-29.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-30.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-31.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-32.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-33.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-34.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-35.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-36.png", class: "img-responsive center" %>
            </div>
          </div>

          <div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-37.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-38.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-39.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-40.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-41.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-42.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-43.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-44.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-45.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-46.png", class: "img-responsive center" %>
            </div>
            <div class="col-xs-3">
              <%= image_tag "showrooms/showroom-47.png", class: "img-responsive center" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Showrooms -->


<!-- Sponsors -->
<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-08.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-07.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-06.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-05.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-04.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-03.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-02.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-01.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-offset-1 col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-10.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-11.png", class: "img-responsive center" %>
      </div>
      <div class="col-sm-3 col-xs-6 sponsor">
        <%= image_tag "sponsors/sponsor-12.png", class: "img-responsive center" %>
      </div>
    </div>
  </div>
</section>
<!-- /Sponsors -->

