<section id="showrooms-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1>Showrooms</h1>
      </div>

      <div class="col-sm-9">
        <p>Son espacios dentro de las suites del hotel The St. Regis Mexico City, las cuales serán convertidas en showrooms de productos y servicios increíbles. Inspirados y dedicados a las mujeres actuales como mamás, empresarias, profesionistas, estudiantes, artistas, escritoras y deportistas.</p>

        <p>Las asistentes a Women´s Weekend podrán visitar y comprar en estos Showrooms de diversas marcas, especializadas en salud, belleza , moda y diseño entre otros, permitiendo experiencias privadas y exclusivas.</p>
      </div>
    </div>

    <div class="row down">
      <div class="col-sm-12">
        <%= image_tag "down.png", class: "center img-responsive" %>
      </div>
    </div>
  </div>
</section>

<section id="showrooms">
  <div class="container">
    <div class="row">
      
      <a href="#show-1" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-01.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-2" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-02.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-3" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-03.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-4" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-04.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-5" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-05.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-6" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-06.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-7" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-07.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-8" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-08.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-9" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-09.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-10" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-10.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-11" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-11.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-12" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-13" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-13.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-14" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-14.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-15" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-15.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-16" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-16.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-17" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-17.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-18" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-18.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-19" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-19.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-20" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-20.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-21" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-21.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-22" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-22.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-23" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-23.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-24" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-24.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-25" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-25.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-26" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-26.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-27" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-27.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-28" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-28.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-29" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-29.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-30" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-30.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-31" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-31.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-32" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-32.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-33" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-33.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-34" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-34.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-35" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-35.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-36" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-36.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-37" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-37.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-38" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-38.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-39" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-39.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-40" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-40.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-41" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-41.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-42" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-42.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-43" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-43.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-44" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-44.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-45" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-45.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-46" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-46.png", class: "img-responsive center" %>
        </div>
      </a>

      <a href="#show-47" data-toggle="modal">
        <div class="col-xs-3">
          <%= image_tag "showrooms/showroom-47.png", class: "img-responsive center" %>
        </div>
      </a>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Allpa Hats</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-01.png", class: "img-responsive center" %>
            <p class="center">Sombreros hechos en Ecuador 100% de toquilla</p>
            <p class="center"><a href="http://www.allpahats.com" target="_blank">www.allpahats.com</a></p>
            <p class="center"><a href="https://www.facebook.com/allpahatsmexico" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Garcinia Cambogia</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-02.png", class: "img-responsive center" %>
            <p class="center">Nuestro extracto es puro, sin ningún otro ingrediente añadido , es 100% orgánico, libre de pesticidas y contaminantes. Por ser liquido es  mas fácil de digerir y menos procesado de las pastillas ,60% de HCA, el ingrediente del fruto de la planta que ayuda a perder peso.</p>
            <p class="center">facebook: garcinia organica</p>
            <p class="center">instagram: @garciniaorganica</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Gala is Love</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-03.png", class: "img-responsive center" %>
            <p class="center">¿Quién es Gala? Ella es una persona muy especial y único que está constantemente pensando en maneras creativas de expresar a sí misma. Ella siempre se atreve a probar algo nuevo y un poco loco y es por eso que ella es el centro de atención. Ella es amable y delicado y le gusta tomar el sol de la mañana. Ella es una verdadera amante de todas las cosas buenas.</p>

            <p class="center">Michell Galindo comenzó a crear piezas únicas en su ciudad natal Tijuana, con grande amor. Ella comenzó a crear sus piezas en pequeñas cantidades con la mejor calidad posible. Su ojo refinado atrapa cada pequeño detalle. Ella ama especialmente para cuidar de todas las chicas que está en busca de algo que hará que su hermosa, una por una, las chicas de Gala por todas partes.</p>

            <p class="center"><a href="http://galaislove.com" target="_blank">galaislove.com</a></p>
            <p class="center"><a href="https://www.facebook.com/galaislovejewelry?fref=ts" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">NICOLE BADIN</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-04.png", class: "img-responsive center" %>
            <p class="center">Nicole Badin es diseñadora y es mexicana. Comenzó su transitar en el diseño con su marca homónima, con la que presentó seis looks de inspiración en los Huicholes. Cada atuendo se acompaña con accesorios creados por ella e intervenidos por artesanos de la región, con lo que obtuvo un diseño sofisticado y una fusión de las tradiciones con la moda contemporánea al emplear bordados coloridos propios de este grupo indígena sobre prendas lisas y estampados que reflejan la simbología huichola de una forma abstracta.</p>
            <p class="center"><a href="https://www.facebook.com/pages/NICOLE-BADIN/177154479131454" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">PINKETT</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-05.png", class: "img-responsive center" %>
            <p class="center">Marca de ropa 100% mexicana</p>
            <p class="center"><a href="http://www.pinkett.tv/store/" target="_blank">www.pinkett.tv/store/ </a></p>
            <p class="center"><a href="https://www.facebook.com/PinkettTrendyVillage" target="_blank">Facebook</a></p>
            <p class="center">Twitter: @pinkett.tv</p>
            <p class="center">Instragram: @pinkettclothing</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Good Express</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-06.png", class: "img-responsive center" %>
            <p class="center">¿Quieres empezar a comer más sano pero parece imposible? Nosotros sabemos que a veces cuesta muchísimo trabajo tener una vida healthy, es por eso que tenemos una variedad de productos cuidadosamente seleccionados para facilitarte el proceso de tomar mejores decisiones por ti y por tu salud; todos estos productos saludables a domicilio. Desde conseguir productos orgánicos, snacks saludables o productos naturales; hasta conseguir recetas saludables para cocinarlos, aquí tienes todo lo que necesitas para estar más sano y feliz. Todo con entrega a tu domicilio en toda la República Mexicana.</p>
            <p class="center"><a href="http://goodexpress.com.mx/store/" target="_blank">goodexpress.com.mx/store/</a></p>
            <p class="center"><a href="https://www.facebook.com/goodexpress" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-7" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Hua Lenceria</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-07.png", class: "img-responsive center" %>
            <p class="center">Hua es una marca creada por Siouzana Melikian y Patricia Garza. mas que lenceria, son piezas que se convertirán en tu objeto favorito. Nuestras piezas te harán sentir tan cómoda que te  vas a olvidar de lo que traes puesto y sentiras una gran seguridad sin la incomodidad de la ropa interior sexy tradicional. Hua es una marca para usarse diario. Piezas hechas con amor pensando en resaltar el poder natural de la mujer. Siente hua, y ve a cambiar el mundo. </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-8" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Joyeria Urbana</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-08.png", class: "img-responsive center" %>
            <p class="center">Joyería Urbana se conforma de 3 diseñadores Juliana Salazar, Ariadna Correa y Rodolfo Goñi. Los tres vivimos en la ciudad de México y juntos creamos todas nuestras colecciones.</p>
            <p class="center">Joyería Urbana nace de nuestra necesidad y pasión por contar historias. Lo fascinante de este proyecto es que somos un grupo de amigos que nos juntamos a hacer lo que más nos gusta: poder hacer realidad nuestra necesidad de expresión por medio de nuestras piezas. Creemos que la ciudad es un sitio caótico, pero encontramos belleza en cada rincón y esto se traduce en la diversidad de nuestras piezas. Pensamos en nuevas colecciones de joyería todo el tiempo y entre todos retroalimentamos nuestras ideas. Juntos hacemos que todas nuestras colecciones, aunque sean diferentes, tengan el sello Joyería Urbana. Cada colección es una historia, y nosotros queremos contarla.</p>
            <p class="center"><a href="http://www.joyeriaurbana.com" target="_blank">www.joyeriaurbana.com</a></p>
            <p class="center"><a href="https://www.facebook.com/JoyeriaUrbana" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-9" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Mecate</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-09.png", class: "img-responsive center" %>
            <p class="center">El mobiliario se crea a partir de la reutilización de la madera para tarimas industriales provenientes de diferentes partes de mundo, principalmente de México. Nos regimos bajo la filosofía del “cradle to cradle”, ampliando el ciclo de vida y uso de la madera.Cada mobiliario es único. Su originalidad se fundamenta en que cada pieza se elabora con diversos tipos de madera como pino, cedro, encino y nogal. Esta es cuidadosamente seleccionada para la construcción manual de cada uno de los muebles. Las bases, hechas con tubería de fierro, crean una visión innovadora de diseño que conjuga la tradición del uso de la madera con la eficiencia del metal.Al adquirir una pieza no sólo adquieres un objeto funcional e inspirador de la más alta calidad, también estas creando un vínculo con el medio ambiente, ya que estas evitando la tala indiscriminada de árboles y fomentando la cultura del reciclaje.</p> 
            <p class="center"><a href="http://mecatestudio.mx/#1" target="_blank">mecatestudio.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/mecatestudio" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-10" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Valeria Castro</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-10.png", class: "img-responsive center" %>
            <p class="center">Valeria Castro Diseñadora Gráfica, artística y creativa. Su famila ha estado en la industria de la moda por más de 60 años, ella forma parte de la tercera generación. Creció rodeada de moda, diseño y arte.En el 2004, Valeria empieza a experimentar en este campo y para el 2008 lanza su propia línea de ropa y accesorios con su nombre. Valeria Castro® ahora es una marca.</p>
            <p class="center"><a href="http://www.valeriacastro.com" target="_blank">www.allpahats.com</a></p>
            <p class="center"><a href=" https://www.facebook.com/ValeriaCastroMx" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-11" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">MOKA</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-11.png", class: "img-responsive center" %>
            <p class="center">Pastelería artística sobre diseño. Ofrecemos todas las posibilidades en postres y pasteles, combinando un excelente sabor, ingredientes de primera calidad, mucha creatividad y pasión por lo que hacemos. Lo que da como resultado un pastel hermoso y delicioso. Podemos personalizar tu pedido y trabajar para cualquier tipo de evento y sobre cualquier tema.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-12" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">ROYAL DALIA</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
            <p class="center">Royal Dalia es una marca de estilo de vida de lujo que da vida al sueño de compartir la belleza , historia, riqueza y colorido alegría de arte mexicano y étnica , a través de los accesorios y la ropa glamorosa y usables .</p>
            <p class="center"><a href="http://www.royaldalia.com" target="_blank">www.royaldalia.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/Royal-Dalia/128303403949771" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-13" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Vayu</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-13.png", class: "img-responsive center" %>
            <p class="center">VAYU ES ORGULLO MEXICANO </p>
            <p class="center">Proponemos impulsar el consumo de productos hechos por manos mexicanas y fomentar la apreciación de cultura, artesanía y diseño mexicano. Vayu es una marca 100% mexicana, amigable con el medio ambiente y que involucra trabajo artesanal. La columna vertebral de nuestro proyecto es ayudar a México. Usamos materiales y mano de obra local, procuramos dar oportunidades laborales y reducir la huella ambiental de nuestros productos. Buscamos promover el consumo de productos que tomen en cuenta al medio ambiente y fomentar una cultura de apoyo y ayuda de mexicano a mexicano.</p>
            <p class="center"><a href="http://shop.vayu.mx" target="_blank">shop.vayu.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/vayumx" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-14" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Marisa Porrua</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-14.png", class: "img-responsive center" %>
            <p class="center">Nuestros diseños atesoran importantes cualidades: tradición e innovación, al proyectar la identidad mexicana en armonía con la vida actual; y exclusividad, al ser prendas artísticamente únicas e irrepetibles.</p>
            <p class="center">El sentido humano y social de nuestra empresa es nuestra razón de existir.Desarrollamos talleres productivos que ayudan a generar fuentes de trabajo e ingresos familiares en varias comunidades indígenas.</p>
            <p class="center">Tenemos la firme convicción de que nunca dejaremos de recorrer los lugares más recónditos de nuestro país buscando nuevos artesanos, rescatando sus bordados, creando fuentes de trabajo dignas y aprendiendo de sus técnicas.</p>
            <p class="center"><a href="https://www.facebook.com/marisaporruaai" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-15" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Minhk</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-15.png", class: "img-responsive center" %>
            <p class="center">MINHK es una marca pisos atemporales creado por el diseñador de accesorios Natali Sznajderman. Nuestros zapatos están inspirados en la mujer contemporánea: urbano, elegante, refinado y moda de vanguardia. Nuestros materiales son 100% cuero y nos abastecemos a formar las mejores curtiembres en Argentina, Italia y México.</p>
            <p class="center"><a href="http://www.minhk.com" target="_blank">www.minhk.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/MINHK-SHOES/768005376595534?fref=ts" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-16" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">LA SANTA JOYERIA</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-16.png", class: "img-responsive center" %>
            <p class="center">La santa considera que sus factores clave projectar en una pieza una cultura, vinculando con un detalle la personalidad el usuario, con sentimientos y emociones del mismo creador.</p>
            <p class="center"><a href="http://www.lasantajoyeria.com" target="_blank">www.lasantajoyeria.com</a></p>
            <p class="center"><a href="https://www.facebook.com/lasantajoyeria" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-17" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">AVEC</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-17.png", class: "img-responsive center" %>
            <p class="center">AVEC es una marca de joyería creada en 2012 por la mexicana Georgina Prieto. Sus diseños están inspirados en la naturaleza, en formas geométricas y en la arquitectura. Estos elementos crean un estilo étnico que mezcla el oro y la plata, rasgos distintivos de la marca que junto con el triángulo y los felinos le dan una personalidad única. Con el tiempo, la marca y su diseñadora han evolucionado y se han consolidado como parte de la nueva propuesta del diseño joyero mexicano. La mayor satisfacción para su creadora es observar como sus piezas adquieren una mayor personalidad al completar el atuendo de alguna de sus compradoras, que van desde mujeres adultas hasta adolescentes, en donde el común denominador es la búsqueda por la originalidad y la buena calidad</p>
            <p class="center"><a href="http://www.avecjoyeria.mx" target="_blank">www.avecjoyeria.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/avec.jewels?fref=ts" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-18" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">AYURVEDA</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-18.png", class: "img-responsive center" %>
            <p class="center">Ayurveda (en Devanagari: , la “ciencia de la vida”) es un sistema de medicina tradicional autóctona de la India, y se practica en otras partes del mundo como una forma de medicina complementaria (porque complementa la necesidad de aumentar las defensas propias e inherentes del individuo cuando están bajas; no por otra cosa se aplica esta palabra). En sánscrito, la palabra Ayurveda comprende las palabras ayus, que significa “vida” y veda, que significa “ciencia.” En la evolución a lo largo de su historia, el Ayurveda sigue siendo un influyente sistema de la medicina en el sur de Asia.</p>
            <p class="center">Twitter @Ayurveda_Mexico </p>
            <p class="center">Facebook AyurvedaBienestarTradicional</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-19" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Allpa Hats</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-19.png", class: "img-responsive center" %>
            <p class="center">MR.BOHO nació en el 2012 fruto de la creatividad, la voluntad y el afán de cuatro amigos que creyeron que a lo mejor tenían algo que decir en la industria de la moda. La idea era sencilla: desarrollar productos de calidad a precios asequibles, y dotarlos de una personalidad propia.  Para conseguirlo, MR.BOHO busca la combinación de líneas básicas y sencillas, con referencias clásicas y elementos particulares que doten a nuestros productos de ese toque distintivo que buscamos.  MR.BOHO te proporciona las herramientas y reúne a todos aquellos de vosotros que compartís un actitud común cosmopolita e inquieta. Pero, a pesar de eso, vosotros sois los únicos encargados de mostrar lo que sois y vuestro modo de ver la vida y el mundo que os rodea.</p>
            <p class="center"><a href="http://mrboho.com/es/" target="_blank">mrboho.com/es/</a></p>
            <p class="center"><a href="https://www.facebook.com/mrbohomx" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-20" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">BEBU</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-20.png", class: "img-responsive center" %>
            <p class="center">En BEBU creemos que la comodidad se lleva perfecto con el estilo, por eso diseñamos conjuntos de corte elegante y materiales que favorecen y acompañan el crecimiento y el desarrollo físico de nuestros hijos. Las prendas están diseñadas para niños activos, con detalles específicos en el diseño que facilitan sus movimientos como correr, brincar, trepar y bailar. También pensamos que la ropa sucia es señal inequívoca de diversión, por eso bajo nuestro lema “DALE LA VUELTA!” nos enfocamos en su característica reversible para siempre estar listas para el siguiente plan con sólo un “mágico movimiento”y simplificar la vida de las mamás.</p>
            <p class="center">Twitter/ Instagram @BEBU_MX</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-21" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Shwood</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-21.png", class: "img-responsive center" %>
            <p class="center">Shwood proceso de fabricación se fusiona la tecnología de precisión con destreza artesanal clásico para crear una forma de arte intemporal. Cada paso de recubrimiento y precisión de corte de la lente, para tallado y acabado se lleva a cabo en nuestro propio taller con sede en Portland prometer una pieza totalmente artesanal de gafas de madera. La manipulación de madera se mantiene al mínimo con el fin de mostrar el esplendor natural y único de la médium. Todos los modelos son acompañados por las lentes 100% de protección contra los rayos UVA / UVB Carl Zeiss importados de Italia. Las lentes polarizadas están también disponibles.</p>
            <p class="center"><a href="https://www.shwoodshop.com" target="_blank">www.shwoodshop.com</a></p>
            <p class="center"><a href="https://www.facebook.com/Shwoodshop" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-22" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Naked  Boutique</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-22.png", class: "img-responsive center" %>
            <p class="center">Desde 2007, Naked Boutique funge como una tienda que se mantiene en una constante búsqueda de diseñadores jóvenes e independientes a nivel internacional, con nuevas propuestas en ropa, accesorios, zapatos así como piezas únicas y vintage.</p>
            <p class="center"><a href="http://www.nakedboutique.com" target="_blank">www.nakedboutique.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/NakedBoutiquecom-e-SHOP/160073844026623?fref=ts" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-23" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Persea Apothecary</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-23.png", class: "img-responsive center" %>
            <p class="center">Balance, pureza y efectividad en productos para una nueva cultura que cuida de la estetica y la salud, con un espíritu huaco y natural. Asi es como inspirados en los ciclos y los balances naturales, se crearon productos con virtudes y bondades, con aromas naturales y sin conservadores. Persea es cuidar de tu bienestar a la vez que cuidas el bienestar del mundo.</p>
            <p class="center"><a href="https://www.facebook.com/pages/Persea-Apothecary/730912173627214" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-24" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Olivia y tinto</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-24.png", class: "img-responsive center" %>
            <p class="center">Taller Creativo que diseña y produce eventos con el uso de nuestros muebles, accesorios, flores y elementos detalle. Nuestra propuesta y diferenciador es crear ambientes que comuniquen un mensaje coherente con el uso de elementos de imagen ambiental. (Color, iluminación, música, aroma, temperatura, mobiliario, texturas, patrones y formas) considerando así todos los sentidos y reflejando la personalidad de la marca o el cliente.</p>
            <p class="center"><a href="http://www.oliviaytinto.com" target="_blank">www.oliviaytinto.com/a></p>
            <p class="center"><a href="https://www.facebook.com/OliviaYTinto" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-25" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Ayala Bar</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-25.png", class: "img-responsive center" %>
            <p class="center">Captura su esplendor con hechos a mano, joyas de edición limitada de Ayala Bar. La colección se mezclan elementos naturales, perlas de vidrio, cristales de Swarovski y piedras minerales en metales variados para crear un rico mosaico, lo que resulta en intrincadas piezas de edición limitada. Ayala Bar ha diseños que son innovadores y atemporal, audaz pero femenino, e internacional en apelación producido constantemente. Encuentre su propia firma personal con la colección de aretes, collares, pulseras, broches y anillos de Ayala Bar</p>
            <p class="center"><a href="http://www.ayalabar.co.za" target="_blank">www.ayalabar.co.za</a></p>
            <p class="center"><a href="https://www.facebook.com/ayalabarmexico" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-26" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Mohe</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-26.png", class: "img-responsive center" %>
            <p class="center">Chloe Amutio Motte crea hermosas piezas inspiradas en sus experiencias de vida únicas, la estética de diferentes períodos de tiempo y materiales preciosos.</p>
            <p class="center"><a href="http://www.allpahats.com" target="_blank">www.allpahats.com</a></p>
            <p class="center"><a href="https://www.facebook.com/mohejewelry/timeline" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-27" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Lucca Luc</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-27.png", class: "img-responsive center" %>
            <p class="center">Es una marca creada en México y se caracteriza por su alta calidad en productos de oro laminado, plata, piedras precisosas y semi-presiosas. No se puede definir que sus creaciones vengan de alguna tendencia, o moda, puesto que su influencia tiene vida propia.</p>
            <p class="center"><a href="http://www.luccaluc.com" target="_blank">www.luccaluc.com</a></p>
            <p class="center"><a href="https://www.facebook.com/luccaluc.jewels" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-28" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Clean Muscle</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-28.png", class: "img-responsive center" %>
            <p class="center">La proteina VEGANA más completa por su contenido de: -SUPERFOODS -GREENS -PROBIOTICOS -FIBRA -OMEGA-3 -ANTIOXIDANTES. Ayuda a mejorar tu:  Ingesta de nutrientes , Niveles de energia , Metabolización de carbohidratos, grasas y proteínas Huesos, dientes, piel y ojos LIBRE DE: Gluten, lácteos y GMO</p>
            <p class="center"><a href="https://www.facebook.com/cleanmuscle" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-29" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Orfeo Quagliata</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-29.png", class: "img-responsive center" %>
            <p class="center">Es un diseñador industrial y fundador del Estudio Orfeo Quagliata. Aporta más de dos décadas de experiencia con el vidrio a Studio Orfeo Quagliata, mezclando diseño con la dedicación de un artesano a la artesanía. La falta de innovación en procesos de vidrio que prevalece obligado Orfeo para dar nueva vida al mundo de vidrio mediante la introducción de varias técnicas innovadoras ahora se exhiben a través de las colecciones Estudio Orfeo QUAGLIATA.</p>
            <p class="center"><a href="http://orfeoq.com" target="_blank">orfeoq.com</a></p>
            <p class="center"><a href="https://www.facebook.com/orfeoq" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-30" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Grimode</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-30.png", class: "img-responsive center" %>
            <p class="center">Grimodé se dedica a la elaboración de productos gourmet con ingredientes finamente seleccionados y de calidad excelsa. Grimodé mezcla elementos tradicionales con combinaciones innovadoras dándole un acento especial a sus productos, para beneficio de los finos paladares.</p>
            <p class="center"><a href="http://www.grimode.com/default.asp" target="_blank">www.grimode.com</a></p>
            <p class="center"><a href="https://www.facebook.com/grimode" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-31" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Mykita</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-31.png", class: "img-responsive center" %>
            <p class="center">MYKITA es una fábrica moderna que combina la artesanía precisa con las nuevas tecnologías .</p>
            <p class="center"><a href="https://mykita.com/en" target="_blank">mykita.com/en</a></p>
            <p class="center"><a href="https://www.facebook.com/mykita" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-32" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Mani Maalai</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-32.png", class: "img-responsive center" %>
            <p class="center">Mani Maalai es una casa creadora de joyas fundada en 1999. Sus piezas son trabajadas artesanalmente inspiradas en la naturaleza; sus formas orgánicas y el trabajo de materias primas de primer nivel. El rediseño de su identidad fue trabajado bajo dos premisas: generar los cimientos para la creación de una marca que con el tiempo adquirirá valores tradicionales, y generar una identidad que transmita directamente su inspiración en la tierra y su elegancia natural, tomando el color de la noche, el negro y el oro como principales materiales de trabajo.</p>
            <p class="center"><a href="http://manimaalai.com" target="_blank">manimaalai.com</a></p>
            <p class="center"><a href="https://www.facebook.com/ManiMaalaiOficial" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-33" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Troken Towels</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-33.png", class: "img-responsive center" %>
            <p class="center">Troken Toallas historia de éxito comenzó en 2010, en Saerbeck Alemania. Necesitábamos para disminuir la huella de carbono del mundo con un producto cotidiano. Por eso hemos creado la toalla suave y más sostenible de bambú jamás se ha hecho.</p>
            <p class="center"><a href="http://www.trokentowels.com" target="_blank">www.trokentowels.com</a></p>
            <p class="center"><a href="https://www.facebook.com/trokentowels" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-34" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Lace and Lemon</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-34.png", class: "img-responsive center" %>
            <p class="center">Lace and Lemons es una boutique de novias, que nace con la misión de crear una tienda de novias diferente y fuera de lo ordinario. Es una tienda fresca y original,  enfocada 100% en la atención personalizada y en las necesidades sus  novias. La boutique está conformada por vestidos de diferentes diseñadores como Watters,  Love Marley, Wtoo, Nicole Miller y Leanne Marshall los cuales destacan por su originalidad, sus telas y la tecnología de las mismas. También contará con  una increíble colección de accesorios hechos a mano y velos canadienses de Laura Jayne.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-35" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Sunnypatoche</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-35.png", class: "img-responsive center" %>
            <p class="center">Sunny Patoche nace en México, en el 2013, inspirado en las costas “soleadas” más emblemáticas del mundo. Una fusión entre la calidez de Playa del Carmen, lo emblemático de Saint Tropez y la fiesta de Ibiza, se traducen en un concepto compatible con el estilo novedoso que nuestros clientes buscan.</p>
            <p class="center"><a href="http://sunnypatoche.com" target="_blank">sunnypatoche.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/Sunny-Patoche/517926111572379" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-36" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Cihuah</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-36.png", class: "img-responsive center" %>
            <p class="center">CIHUAH , una marca dedicada a la arquitectura y el diseño de moda. CIHUAH significa que las mujeres en lengua náhuatl . Devuelve una referencia a los orígenes de México , un homenaje a la mujer creativa a una tradición artesanal , el antiguo conocimiento y la cultura en el proceso de extinción.</p>
            <p class="center"><a href="http://cihuah.com/" target="_blank">cihuah.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/Cihuah/326817680688179?fref=ts" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-37" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">ZOE WATER</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-37.png", class: "img-responsive center" %>
            <p class="center">El Agua Alcalina Zoé Water se desarrolló con la idea de ayudar a mejorar el desempeño del cuerpo humano mediante un sistema simple de regulación de su nivel de acidez. De esa forma, se puede lograr que la mayoría de los alimentos sean digeridos de manera más fácil. También se busca ofrecer beneficios a largo plazo que ayuden a mejorar el desempeño general de las actividades corporales. El Agua Alcalina Zoé Water está determinada por medio de una escala universal graduada de pH que va del 1 al 14 siendo 7 el punto neutro, de ahí en adelante es considerado alcalino.</p>
            <p class="center"><a href="https://www.zoewater.com.mx" target="_blank">www.zoewater.com.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/allpahatsmexico" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-38" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">ELIXIR</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-38.png", class: "img-responsive center" %>
            <p class="center">Si buscas una forma fácil de agradecerle a tu cuerpo todo lo que hace por ti mientras realizas tus actividades diarias, ELIXIR Detox es la solución: un programa de desintoxicación a base de jugos y productos naturales que ayudan a limpiar tu cuerpo desde el interior para darte la oportunidad de sanarte de forma natural y comenzar una vida diferente sin importar en qué parte de la República Mexicana estés, ya que llegan a 26 ciudades. ELIXIR Detox es el primero, único y original programa de desintoxicación introducido en México por esta empresa mexicana que, con base en la teoría de la jugoterapia, da vida a Programas Elixir Detox y Elixir Superfoods a partir de productos crudos, frescos, veganos y con certificación Kosher para reconstruir tu cuerpo de adentro hacia afuera.</p>
            <p class="center"><a href="https://www.elixirdetox.com" target="_blank">www.elixirdetox.com</a></p>
            <p class="center"><a href="https://www.facebook.com/ElixirDetoxMexico" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-39" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Shoproom</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-39.png", class: "img-responsive center" %>
            <p class="center">Somos una plataforma de negocios con esquemas amplios y flexibles para lograr satisfacer las necesidades de nuestros distribuidores, contamos con la última tendencia de la moda con productos que importamos de ferias internacionales como Bread & Butter en Berlin, IFEMA en Madrid, Who´s next en Paris y White en Milan.</p>
            <p class="center"><a href="http://www.shoproom.com.mx/" target="_blank">www.shoproom.com.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/shoproommx" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-40" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Felina</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-40.png", class: "img-responsive center" %>
            <p class="center">Antonieta Fernández y Mariana Estrada fundan Felina, como respuesta a la necesidad de expresar sus ideas de diseño en joyería y accesorios. Con alma de espíritu libre, son viajeras incansables y aventureras imparables… sin miedo a nada. Mariana vivió en Milán, Roma y Nueva York y Antonieta en Buenos Aires y Oaxaca, ciudades que influenciaron su forma de ver el mundo, vivencias y experiencias que las inspiran hasta el día de hoy. Arquitectura, música, pintura y escultura son expresiones de arte de las cuales se inspiran constantemente sin dejar a un lado la mas original de las fuentes de inspiración la naturaleza.Cada pieza es única pues son hechas a Mano.</p>
            <p class="center"><a href="http://www.felina.mx/" target="_blank">www.felina.mx</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-41" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Chabe Laura</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-41.png", class: "img-responsive center" %>
            <p class="center">CHABE es una marca mexicana para mujeres que crea piezas a partir del juego de moldería de prendas clásicas con ropa street wear, combinando texturas, textiles y cortes que dan como resultado piezas híbridas que crean un estilo contemporáneo  “Haute Culture”. El discurso de la marca al momento de diseñar está en crear piezas que sean multifuncionales, intercambiables, atemporales y originales como la mujer de hoy. CHABE es la marca homónima creada por Laura Carrillo. Egresada del Instituto de Estudios Superiores de Moda  Casa De Francia. Laura vive la moda a través de dos experiencias significativas: su formación como fashion stylist para El Palacio de Hierro, tienda departamental más importante de México y el desarrollo creativo de sus marcas CHABE y BOYFRIEND’S SHIRT.</p>
            <p class="center"><a href="http://www.chabe.mx/entrada" target="_blank">www.chabe.mx</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/CHABE/35992009356" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-42" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Cynthia Buttenklepper</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-42.png", class: "img-responsive center" %>
            <p class="center">Cynthia Buttenklepper es una etiqueta inspirada en los viajes amplios de los diseñadores , así como sus raíces mexicanas . Hay un uso recurrente de las dos de diseño de cuero y personalizados grabados a lo largo de todas las colecciones presentadas por la marca. Las prendas son diseñadas para las mujeres fuertes que buscan alta calidad, intrépido, con todo piezas femeninas.</p>
            <p class="center"><a href="http://www.cynthiabuttenklepper.com" target="_blank">www.cynthiabuttenklepper.com</a></p>
            <p class="center"><a href="https://www.facebook.com/pages/Cynthia-Buttenklepper/172487426123092" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-43" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">Vanessa Shade</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-43.png", class: "img-responsive center" %>
            <p class="center">Vanessa Shade fusiona el mundo fashion y el holístico con un toque innovador e integral de diseño mexicano, cada pieza es creada por Samantha Pedrero que en conjunto con la mano de artesanos mexicanos permiten llevar el ADN de la tierra con uno.</p>
            <p class="center"><a href="http://www.vanessashade.com" target="_blank">www.vanessashade.com</a></p>
            <p class="center"><a href="https://www.facebook.com/vanessashade.mx" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-showroom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center">ELIXIR</h4>
          </div>
          <div class="modal-body">
            <%= image_tag "showrooms/showroom-01.png", class: "img-responsive center" %>
            <p class="center">Sombreros hechos en Ecuador 100% de toquilla</p>
            <p class="center"><a href="http://www.allpahats.com" target="_blank">www.allpahats.com</a></p>
            <p class="center"><a href="https://www.facebook.com/allpahatsmexico" target="_blank">Facebook</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>