<section id="showrooms-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1>Showrooms</h1>
      </div>

      <div class="col-sm-9">
        <p>Son espacios dentro de las suites del hotel The St. Regis Mexico City, las cuales serán convertidas en showrooms de productos y servicios increíbles. Inspirados y dedicados a las mujeres actuales como mamás, empresarias, profesionistas, estudiantes, artistas, escritoras y deportistas.</p>

        <p>Las asistentes a Women´s Weekend podrán visitar y comprar en estos Showrooms de diversas marcas, especializadas en salud, belleza , moda y diseño entre otros, permitiendo experiencias privadas y exclusivas.</p>
      </div>
    </div>

    <div class="row down">
      <div class="col-sm-12">
        <%= image_tag "down.png", class: "center img-responsive" %>
      </div>
    </div>
  </div>
</section>

<section id="showrooms">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-01.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-02.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-03.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-04.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-05.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-06.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-07.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-08.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-09.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-10.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-11.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-12.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-14.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-15.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-16.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-17.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-18.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-19.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-20.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-21.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-22.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-23.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-24.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-25.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-26.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-27.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-28.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-29.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-30.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-31.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-32.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-33.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-34.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-35.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-36.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-37.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-38.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-39.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-40.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-41.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-42.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-43.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-44.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-45.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-46.png", class: "img-responsive center" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "showrooms/showroom-47.png", class: "img-responsive center" %>
      </div>
    </div>
  </div>
</section>