<div class="container">
<h2>Edita tus datos</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "Nombre", required: true %>
    <%= f.input :last_name, label: "Apellido", required: true %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: "Contraseña Nueva", autocomplete: "off", hint: "Déjalo en blanco si no quieres cambiarlo", required: false %>
    <%= f.input :current_password, label: "Contaseña Actual", hint: "Tu contraseña actual es necesaria para hacer cambios", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>

<h3>¿No asistiras al evento?</h3>

<p><%= link_to "Cancela tu cuenta", registration_path(resource_name), data: { confirm: "¿Deseas eliminar tu cuenta?" }, method: :delete %></p>

</div>
