<% if user_signed_in? %>
  <div class="w-subscribe-form" id="workshop-<%= @workshop.id %>">
    <% if current_user.workshop_subscribed?(@workshop) %>
      <%= render 'shared/leave_workshop_button' %>
    <% else %>
      <% if current_user.workshop_subscribed_list?(@workshop) %>
        <%= render 'shared/leave_workshop_list_button' %>
      <% elsif @workshop.can_register?(current_user) %>
        <%= render 'shared/register_workshop_button' %>
      <% else %>
        <%= render 'shared/register_workshop_list_button' %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="center">
    <%= link_to "Regístrate", register_path, class: "btn btn-default btn-w-registro" %>
  </div>
<% end %>