
<div id="agenda" class="container">

  <div class="row event-nav">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#events" role="tab" data-toggle="tab">Conferencias</a></li>
        <li role="presentation"><a href="#workshops" role="tab" data-toggle="tab">Workshops</a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content">

    <div id="events" role="tabpanel" class="tab-pane active">

      <div class="row day-nav">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#day1" role="tab" data-toggle="tab">Viernes 6</a></li>
            <li role="presentation"><a href="#day2" role="tab" data-toggle="tab">Sábado 7</a></li>
            <li role="presentation"><a href="#day3" role="tab" data-toggle="tab">Domingo 8</a></li>
          </ul>
        </div>
      </div>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="day1">
        <% Day.find(1).events.order('slot ASC').each do |event| %>
          <div class="row event">
            <div class="col-xs-2 time">
              <div class="content">
                <p class="center"><%= event.time %></p>
              </div>
            </div>

            <div class="col-xs-10 info">
              <div class="content">
                <p class="center name"><%= event.name %></p>
                <% if event.subtitle %>
                  <p><%= event.subtitle %></p>
                <% end %>
                <p class="center speaker"><%= event.speaker.full_name %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="day2">
        <% Day.find(2).events.order('slot ASC').each do |event| %>
          <div class="row event">
            <div class="col-xs-2 time">
              <div class="content">
                <p class="center"><%= event.time %></p>
              </div>
            </div>

            <% if event.slot == 11 %>
              <div class="col-xs-10 lunch">
                <div class="content">
                  <p class="center name"><%= event.name %></p>
                </div>
              </div>
            <% else %>
              <div class="col-xs-10 info">
                <div class="content">
                  <p class="center name"><%= event.name %></p>
                  <% if event.subtitle %>
                    <p class="center subtitle"><%= event.subtitle %></p>
                  <% end %>
                  <p class="center speaker"><%= event.speaker.full_name %></p>
                </div>
              </div>
            <% end %>
  
            
          </div>
        <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="day3">
        <% Day.find(3).events.order('slot ASC').each do |event| %>
          <div class="row event">
            <div class="col-xs-2 time">
              <div class="content">
                <p class="center"><%= event.time %></p>
              </div>
            </div>

            <div class="col-xs-10 info">
              <div class="content">
                <p class="center name"><%= event.name %></p>
                <% if event.subtitle %>
                  <p class="center subtitle"><%= event.subtitle %></p>
                <% end %>
                <p class="center speaker"><%= event.speaker.full_name %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

      </div>

    </div>

    <div id="workshops" role="tabpanel" class="tab-pane">

      <div class="row day-nav">
        <div class="col-sm-12">
          <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#day1w" role="tab" data-toggle="tab">Viernes 6</a></li>
            <li role="presentation"><a href="#day2w" role="tab" data-toggle="tab">Sábado 7</a></li>
            <li role="presentation"><a href="#day3w" role="tab" data-toggle="tab">Domingo 8</a></li>
          </ul>
        </div>
      </div>

      <div id="workshop-calendar" class="tab-content">

        <div class="row titles">
          <div class="col-xs-4"></div>
          <div class="col-xs-8"> 
            <div class="col-xs-3">
              <p class="center">FITNESS</p>
            </div>
            <div class="col-xs-3">
              <p class="center">COOKING</p>
            </div>
            <div class="col-xs-3">
              <p class="center">WELLNESS</p>
            </div>
            <div class="col-xs-3">
              <p class="center">SELF-AWERNESS</p>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="day1w">

          <div class="col-xs-4">
            <div class="time">
              <div class="content">
                <p class="center">16:00 - 17:00</p>
              </div>
            </div>
            <div class="time">
              <div class="content">
                <p class="center">17:00 - 18:00</p>
              </div>
            </div>
            <div class="time">
              <div class="content">
                <p class="center">18:00 - 19:00</p>
              </div>
            </div>
            <div class="time">
              <div class="content">
                <p class="center">19:00 - 20:00</p>
              </div>
            </div>
          </div>

          <div class="col-xs-2 column">
            <% Day.find(1).workshops.where(category_id: 3).order('slot ASC').each do |workshop| %>
              <div class="info">
                <div class="content">
                  <p class="center name"><%= workshop.title %></p>
                  <p class="center speaker"><%= workshop.speaker.full_name %></p>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-2 column">
            <% Day.find(1).workshops.where(category_id: 2).order('slot ASC').each do |workshop| %>
              <div class="info">
                <div class="content">
                  <p class="center name"><%= workshop.title %></p>
                  <p class="center speaker"><%= workshop.speaker.full_name %></p>
                </div>
              </div>
            <% end %>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="day2w">
        <% Day.find(2).workshops.order('slot ASC').each do |workshop| %>
          <div class="row event">
            <div class="col-xs-2 time">
              <div class="content">
                <p class="center"><%= workshop.time %></p>
              </div>
            </div>

            <div class="col-xs-10 info">
              <div class="content">
                <p class="center name"><%= workshop.title %></p>
                <p class="center speaker"><%= workshop.speaker.full_name %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="day3w">
        <% Day.find(3).workshops.order('slot ASC').each do |workshop| %>
          <div class="row event">
            <div class="col-xs-2 time">
              <div class="content">
                <p class="center"><%= workshop.time %></p>
              </div>
            </div>

            <div class="col-xs-10 info">
              <div class="content">
                <p class="center name"><%= workshop.title %></p>
                <p class="center speaker"><%= workshop.speaker.full_name %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>

      </div>

    </div>

  </div>

</div>
